<h1> LogIn </h1>

<%= render partial: "layouts/errors", locals: {object: @visitor} %>

<%= form_for :visitor do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br><br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br><br>
    <%= f.submit "Log In" %>

<% end %>