<%= render partial: "layouts/errors", locals: {object: @visitor} %>

<div id="app">

    <div id="wrapper">

        <div class="container">
            <fieldset>
                <legend>Sign Up!</legend>

<%= form_for :visitor do |f| %>
    <label>Username: </label>
    <%= f.text_field :username %>
    <br>
    <label>Password: </label>
    <%= f.password_field :password %>
    <br>
    <%= f.submit "Sign Up" %>
<% end %>

</fieldset>
</div>
</div>
</div>
</div>