<h1>EDIT GHOSTLY LOCATION</h1>

<%= render partial: "layouts/errors", locals: {object: @property} %>

<%= form_for @property do |f| %>

    <%= f.label "Property Name" %>
    <%= f.text_field :name %>

    <%= f.label "Property Location" %>
    <%= f.text_field :location %>

    <%= f.label "Haunted Happenings">
    <%= f.text_area :description %>

    <%= f.submit %>

<% end %>