<h1>NEW GHOSTLY LOCATION</h1>

<%= form_for property do |f| %>

    <%= f.label "Property Name" %>
    <%= f.text_field :name %>

    <%= f.label "Property Location" %>
    <%= f.text_field :location %>

    <%= f.label "Haunted Happenings">
    <%= f.text_area :description %>

    <%= f.submit %>

<% end %>