<h1>NEW GHOSTLY LOCATION</h1>

<%= form_for :property do |f| %>

    <%= f.label "Property Name:" %>
    <%= f.text_field :name %>
    <br><br><br>
    <%= f.label "Property Location:" %>
    <%= f.text_field :location %>
    <br><br><br>
    <%= f.label "Ghost Story:" %>
    <%= f.text_area :description %>
    <br><br><br>
    <%= f.submit %>

<% end %>