<h1>PROPERTY SHOW PAGE</h1>

<h2><%= @property.name %></h2>
<h2><%= @property.location %></h2>
<h2><%= @property.description %></h2>

<h3>Reviews:</h3>
<% @property.reviews.each do |p| %>
    <strong> <%= link_to p.title, review_path(@review,p) %> </strong>
<% end %>

<%= link_to "Add a Haunting Review", new_property_review_path(@property) %>

<%= link_to "See All Reviews", property_reviews_path(@property) %>
