<%= render partial: "layouts/errors", locals: {object: @review} %>

<div id="app">

<div id="wrapper">
<div class="container">
<%= "Review Title: " %><%= @review.title %><br>
<%= "Date of Visit: " %><%= @review.date %><br>
<%= "Paranormal Sights? " %><%= @review.sighting %><br>
<%= "Any ghastly noises? " %><%= @review.noise %><br>
<%= "Any frightening smells? " %><%= @review.smell %><br>
<%= "Cold spots?" %><%= @review.cold_spot %><br>
<%= "Spooky Summary:" %> <%= @review.summary %><br>
<%= "How scary was this experience (1-10)? " %> <%= @review.rating %><br>
</div>
</div>

<br><br><br><br>
#edit if current user?
<br>

<div id="wrapper">
<%= link_to "Go to All Properties", properties_path %> |
<%= link_to "Go To All Reviews", reviews_path %>
</div>

</div>
