<%= render partial: "layouts/errors", locals: {object: @review} %>

<h2><%= "Review Title:" %><%= @review.title %></h2>
<h3><%= "Date of Visit:" %><%= @review.date %></h3>
<h3><%= "Paranormal Sights?" %><%= @review.sighting %></h3>
<h3><%= "Any ghastly noises?" %><%= @review.noise %></h3>
<h3><%= "Any frightening smells?" %><%= @review.smell %></h3>
<h3><%= "Cold spots?" %><%= @review.cold_spot %></h3>
<h3><%= "Spooky Summary:" %> <%= @review.summary %></h3>
<h3><%= "On a scale between 1-10, how scary was this place?" %> <%= @review.rating %> </h3>

<br>
#edit if current user?
<%= link_to "Go Back to All Properties", properties_path %>
<br>
<%= link_to "Go To All Property Reviews", reviews_path %>
<br>
