
<div id="app">

<div id="wrapper">
<div class="container">
<%= "Review Title: " %><%= @review.title %><br>
<%= "Date of Visit: " %><%= @review.date %><br>
<%= "Paranormal Sights? " %><%= @review.sighting %><br>
<%= "Any ghastly noises? " %><%= @review.noise %><br>
<%= "Any frightening smells? " %><%= @review.smell %><br>
<%= "Cold spots?" %><%= @review.cold_spot %><br>
<%= "Spooky Summary:" %> <%= @review.summary %><br>
<%= "How scary was this experience (1-10)? " %> <%= @review.rating %><br>
</div>
</div>

<br><br><br><br>

<br>

<div id="wrapper">
<% if @review.visitor == current_user %>
<%= link_to "Edit Review", edit_property_review_path(@review) %> 
<% end %>
</div>

</div>
